body {
  background-color: #23252C;
}

.info--profile {
  width: 317px;
  height: 317px;
  border-radius: 10px 10px 0px 0px;

}

.info--text > h2{
  color:white;
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0px;

}

.info--text > h3 {
  color: #F3BF99;
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 16px;

}

.app-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 780px;
  width: 317px;
  background-color: #1A1B21;
  border-radius: 10px 10px 10px 10px;
}

* {
  box-sizing: border-box;

}

#root {
  width: 550px;
  height: 700px;
  display: flex;
  justify-content: center;
}

.info--cont {
  height: 141px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-btn {
  display: flex;
  justify-content: space-between;
  width: 247px;
  margin: 0px;
  margin-top: 10px;

}

.info-btn-email {
  height: 34px;
width: 115px;
left: 151px;
top: 468px;
border-radius: 6px;
padding: 9px, 13px, 9px, 11px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
justify-content: space-evenly;
text-align: left;
background-color: white;
text-decoration: none;
color: initial;
}

.info-btn-link {
  height: 34px;
  width: 115px;
  left: 283px;
  top: 468px;
  border-radius: 6px;
  padding: 9px, 13px, 9px, 11px;
  background: #5093E2;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

.fa-envelope .fa-linkedin { margin-right: 1em }

.about--cont {
  color: white;
  width: 247px;

}
.about--cont > h2 {
  font-family: Inter;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
margin-top: 0px;

}

.about--cont > p {
  font-family: Inter;
font-size: 11px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: left;

}

.footer--main {
  height: 64px;
  background-color: #161619;
  width: 317px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
  color: #918E9B;
  border-radius: 0px 0px 10px 10px;
  text-decoration: none;



};

a:-webkit-any-link:before {
 text-decoration: none;
 color:yellow;
}

a { text-decoration: none; color: inherit; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }
